#loginView {
    background-color: rgba(11, 34, 90, 0.85);
    border: 3px solid #BE36CD;
    box-shadow:
        0 0 10px #BE36CD,
        0 0 20px #318ED6,
        0 0 40px rgba(49, 142, 214, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    text-align: center;
    position: relative;
    width: 320px;
    max-width: 90vw;
    z-index: 10;
}

#loginTitle {
    margin: 10px;
    color: white;
    font-size: 20px;
}

#submitLogin {
    background-color: #BE36CD;
    border: 2px solid #BE36CD;
    color: #D2D2EA;
    padding: 10px 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow:
        0 0 5px #BE36CD,
        0 0 10px rgba(49, 142, 214, 0.7);
    z-index: 1;
}

#goToRegister {
    color: white;
    font-size: 7px;
    margin-top: 20px;
}

#goToRegister u:hover {
    cursor: pointer;
    color: #BE36CD;
}
